/* libre-baskerville-regular - latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
    url('../fonts/libre-baskerville-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/libre-baskerville-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size:  var(--base-font-size);
    scroll-behavior: smooth;
    --base-font-size: 62.5%;
    --grid-max-width: 960px;
}

body {
    line-height: 1.6;
}

h1, h2 {
    margin-top: 0;
    font-weight: 300;
}

.grid-container {
    position: relative;
    max-width: var(--grid-max-width);
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    gap: 20px;

    /* by default use min 200px wide columns auto-fit into width */
    grid-template-columns: minmax(200px, 1fr);
}

/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 0;
    }

    /* basic grids */
    .grid-container.full {
        grid-template-columns: 1fr;
    }

}



h1.h3-like, h2.h3-like {
    font-size: 3.0rem;
    line-height: 1.2;
}

.landingpage, .error404 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

.error404 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.3rem;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}

p.reset-margin {
    margin-bottom: 0rem; /*skeleton.css: 2.5rem*/
}

.avatar {
    width: 20rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
    max-width: 60%;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.icons {
    bottom: 0;
}

.icons h2, h3 {
    margin-bottom: 0;
}

.icon {
    text-rendering: geometricPrecision !important;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    margin-right: 0.6rem;
}

a {
    color: #555555;
}

a:hover {
    color: #1EAEDB;
}


/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    h1.h3-like, h2.h3-like {
        font-size: 3.6rem;
    }

    .grid-container.fivetoseven {
        grid-template-columns: 5fr 7fr;
    }

    .item {
        align-self: center;
    }

    .landingpage, .error404 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 75%;
    }

    .avatar {
        max-width: 200%;
        box-sizing: border-box;
        float: right;
    }

    .autocenter {
        text-align: left;
        padding: 0 0;
    }
} 

/* Larger than phablet */
@media (min-width: 900px) {
    html {
        --base-font-size: 80%;
    }
}
