doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        title Julius gaenseri.ch
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        h1 Julius Gonsior

    - var contacts = [{href: "mailto:julius@gaenseri.ch", icon: "fa-envelope"}, {href: "https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf", icon: "fa-key"}, {href: "https://linkedin.com/in/julius-gonsior-2790b3141/", icon: "fa-linkedin"}, {href: "https://github.com/jgonsior", icon: "fa-github"}, {href: "https://telegram.me/jgonsior", icon: "fa-telegram"}, {href: "https://twitter.com/juliusgonsior", icon: "fa-twitter"}, {href: "xmpp://julius@ifsr.de", icon: "fa-comment"}, {href: "https://www.last.fm/user/ragadabing", icon: "fa-lastfm"}, {href: "https://www.strava.com/athletes/15823005", icon:"fa-bar-chart"}, {href:"https://letterboxd.com/Ragadabing/", icon:"fa-film"}, {href:"https://www.goodreads.com/user/show/70823847-julius-gonsior", icon: "fa-book"}]

        ul#contacts
            each contact, index in contacts
                li #[a.fa-stack.fa-lg(href=contact.href) #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-stack-1x.fa-inverse(class=contact.icon)]]

        h2 Beg your pardon, but what does gaenseri.ch mean?
        img(src="img/goose.jpg" title="A nice drawing of a goose made by the amazing artist u/DyedKitty." width="200" height="200")
        p Well, my last name is #[i Gonsior] which is a Germanized form of the polish word #[i Gasior] which translates to #[i Gander], so a male goose. And because little Julius in 2012 thought it would be nice to have a domain where the top-level domain is part of the spoken domain name, he choose a German translation of Gander, Gänserich. But then he discovered that Unicode in top-level domains will probably never happen, so he chose to replace the #[i ä] vowel with #[i ae].

            include tracking.html
