-
    var contacts = [
        {href: "mailto:julius@gaenseri.ch", icon: "fa-envelope", prefix:"fas", text: "My E-Mail Address"},
        {href: "https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf", icon: "fa-key", prefix: "fas", text: "My GPG Key on keybase.io"},
        {href: "https://linkedin.com/in/julius-gonsior-2790b3141/", icon: "fa-linkedin-in", prefix: "fab", text: "Link to my Linkedin profile"},
        {href: "https://github.com/jgonsior", icon: "fa-github", prefix:"fab", text: "Link to my GitHub profile"},
        {href: "https://telegram.me/jgonsior", icon: "fa-telegram", prefix:"fab", text: "My Telegram username"},
        {href: "https://twitter.com/juliusgonsior", icon: "fa-twitter", prefix:"fab", text: "My (not really used) Twitter Account"},
        {href: "xmpp://julius@ifsr.de", icon: "fa-comment", prefix:"fas", text: "My Jabber Address"},
        {href: "https://www.last.fm/user/ragadabing", icon: "fa-lastfm", prefix:"fab", text: "My Last.fm Account"},
        {href: "https://www.strava.com/athletes/15823005", icon:"fa-strava", prefix:"fab",text: "My Strava Account"},
        {href: "https://letterboxd.com/Ragadabing/", icon:"fa-film", prefix:"fas", text: "My Letterboxd Account"},
        {href: "https://www.goodreads.com/user/show/70823847-julius-gonsior", icon: "fa-book", prefix:"fas", text: "My goodreads Account"},
        {href: "http://orienteering.org/about-orienteering/", icon: "fa-compass", prefix:"fas", text: "A link explaining what my favourite sport Orienteering is"},
        {href: "/impressum.html", icon: "fa-balance-scale", prefix:"fas", text: "My legal impressum, apparently needed according to European/German law?."}
    ]

doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        title Julius gaenseri.ch
        link(rel="stylesheet" type="text/css" href="css/style.css")
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        div#main
            img(src="img/julius.jpg" alt="A stupid image of me" title="Le me, sometimes thinking inside a box…")
            article
                section
                    p Hey, how nice of you to visit me here! 
                    p I'm Julius and I'm a computer science student living in Dresden.
                    p I'm not sure what you're looking for here, but if you still hope that I can help you somehow please feel free to reach out to me:

                nav
                    ul
                        each contact in contacts
                            li #[a(href=contact.href aria-hidden="true") #[i.fa-2x(class=contact.icon title=contact.text class=contact.prefix)]]
