doctype html
html
    head
        meta(charset="utf-8")
        title Julius gaenseri.ch
        link(rel="stylesheet" type="text/css" href="css/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        img.centered(src="img/goose.jpg" title="A nice drawing of a goose made by the amazing artist u/DyedKitty." width="200" height="200")
        h1 Julius Gonsior
        p If you feel like I can help you somehow feel free to contact me with whatever you're comfortable with:
        ul
            li #[i.fa.fa-camera-retro] E-Mail: #[a(href="mailto:julius@gaenseri.ch") julius@gaenseri.ch]
            li Linkedin: #[a(href="https://www.linkedin.com/in/julius-gonsior-2790b3141/") Julius Gonsior] 
            li GitHub: #[a(href="https://github.com/jgonsior") jgonsior]
            li Telegram: #[a(href="https://telegram.me/jgonsior") jgonsior]
            li Twitter: #[a(href="https://twitter.com/juliusgonsior") juliusgonsior]
            li XMPP: #[a(href="xmpp://julius@ifsr.de") julius@ifsr.de]

        p If you want to make me happy please use my PGP key published at #[a(href="https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf") keybase.io].

        h2 Beg your pardon, but what does gaenseri.ch mean?
        p Well, my last name is #[i Gonsior] which is a Germanized form of the polish word #[i Gasior] which translates to #[i Gander], so a male goose. And because little Julius in 2012 thought it would be nice to have a domain where the top-level domain is part of the spoken domain name, he choose a German translation of Gander, Gänserich. But then he discovered that Unicode in top-level domains will probably never happen, so he chose to replace the #[i ä] vowel with #[i ae].

            include tracking.html
