doctype html
html
    head
        meta(charset="utf-8")
        title Julius gaenseri.ch
        link(rel="stylesheet" type="text/css" href="css/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        h1 Julius Gonsior

        ul#contacts
            li #[a.fa-stack.fa-lg(href="mailto:julius@gaenseri.ch") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-envelope.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-key.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="https://www.linkedin.com/in/julius-gonsior-2790b3141/") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-linkedin.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="https://github.com/jgonsior") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-github.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="https://telegram.me/jgonsior") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-telegram.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="https://twitter.com/juliusgonsior") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-twitter.fa-stack-1x.fa-inverse]]
            li #[a.fa-stack.fa-lg(href="xmpp://julius@ifsr.de") #[i.fa.fa-square.fa-stack-2x] #[i.fa.fa-comment.fa-stack-1x.fa-inverse]]


        h2 Beg your pardon, but what does gaenseri.ch mean?
        img(src="img/goose.jpg" title="A nice drawing of a goose made by the amazing artist u/DyedKitty." width="200" height="200")
        p Well, my last name is #[i Gonsior] which is a Germanized form of the polish word #[i Gasior] which translates to #[i Gander], so a male goose. And because little Julius in 2012 thought it would be nice to have a domain where the top-level domain is part of the spoken domain name, he choose a German translation of Gander, Gänserich. But then he discovered that Unicode in top-level domains will probably never happen, so he chose to replace the #[i ä] vowel with #[i ae].

            include tracking.html
