doctype html
html
    head
        meta(charset="utf-8")
        title Julius gaenseri.ch
        link(rel="stylesheet" type="text/css" href="css/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/jquery-2.2.4.min.js")
            #test

    body
        img(src="img/goose.jpg" title="A nice drawing of a goose." width="200" height="200")
        h1 Hi, who are you?
        p.st Oh thank you, how nice of you to ask! I'm Julius, a computer science student from Dresden, Germany.
        h2 How can I contact you?
        p If you feel like I can help you somehow feel free to contact me with whatever you're comfortable with:
        ul
            li E-Mail: #[a(href="mailto:julius@gaenseri.ch") julius@gaenseri.ch]
            li Linkedin: #[a(href="https://www.linkedin.com/in/julius-gonsior-2790b3141/") Julius Gonsior] 
            li GitHub: #[a(href="https://github.com/jgonsior") jgonsior]
            li Telegram: #[a(href="https://telegram.me/jgonsior") jgonsior] 
            li Twitter: #[a(href="https://twitter.com/juliusgonsior") juliusgonsior]
            li XMPP: #[a(href="xmpp://julius@ifsr.de") julius@ifsr.de]

        p If you want to make me happy please use my PGP key published at #[a(href="https://keybase.io/jgonsior/sigs/LfZ5xSVadUUkVYLj9NxNEEX5iz1e1cLUDrBf") keybase.io].

        h2 What the heck does gaenseri.ch mean?
        p Well, my last name is #[i Gonsior] which is a Germanized form of the polish word #[i Gasior] which translates to #[i Gander], so a male goose. And because little Julius in 2012 thought it would be nice to have a domain where the TLD is part of the spoken domain name, he choose a German translation of Gander, Gänserich. And because Unicode is so damn hard, I chose to replace the #[i ä] vowel with #[i ae].

        h2 If you're a programmer, any interesting projects you'd like to brag about?
        p Well, normally I wouldn't talk about it, but when you ask so kindly…
        h3 #[a(href="https://github.com/Wikidata/QueryAnalysis") Wikidata SPARQL Query Analysis]
        p Currently I'm a student research assistant in the #[a(href="https://iccl.inf.tu-dresden.de/web/Wissensbasierte_Systeme/en") Knowledge-Based Systems] group led by Prof. Markus Krötzsch. We're analysing the SPARQL query logs of Wikidata, more information can be found #[a(href="https://meta.wikimedia.org/wiki/Research:Understanding_Wikidata_Queries") here].
        h3 #[a(href="https://github.com/jgonsior/AngryProgrammers") Angry Programmers]
        p Together with #[a(href="https://github.com/Richie94") Richard] we both tried to solve #[i Angry Birds] with the help of Reinforcement Learning as part of the #[a(href="http://aibirds.org") Angry Birds AI Competition]. Unfortunately we discovered, that the version of Angry Birds we were provided for the Contest, was way too slow to generate enough training data to solve it properly. So in the end this project can be considered as a failure. 
        h3 #[a(href="https://github.com/jgonsior/photok") Photok]
        p During my ERASMUS year in Linköping, Sweden I developed together with #[a(href="https://github.com/laurentfite") Laurent] and #[a(href="https://github.com/sijmenw") Sijmen] a photo contest application with Flask, Angular and all the other fancy Web Development tools which were popular at this time .


        h2 That's an impressive list of projects you've got there! But do you do something besides coding too?
        p Yes, in my free time I do Orienteering, play from time to time my bass guitar to annoy my neighbours and travel way too often.

        h2 What exactly is Orienteering?
        p Ah, I get this question often. Let me answer with the Wikipedia definition, because I can't say it any better:
        blockquote Orienteering is a sport that requires navigational skills using a map and compass to navigate from point to point in diverse and usually unfamiliar terrain whilst moving at speed. 
            author The internet

        h2 What do you currently read?
        p Please take a look at my #[a(href="https://goodreads.com") goodreads account], I try to establish the habit of tracking my reading progress there.

        h2 Thank you for taking some of your precious time to answer my questions and…
        p …Oh wait, I need to thank some people too! First a a huge applause to the talented graphic artistr, #[a(href="https://www.reddit.com/user/DyedKitty") u/DyedKitty], who was so kind to paint this wonderful goose especially for me :)
        
        p And without the help of #[a(href="http://motherfuckingwebsite.com/") http://motherfuckingwebsite.com/], #[a(href="http://bettermotherfuckingwebsite.com/")  http://bettermotherfuckingwebsite.com/] and finally #[a(href="https://thebestmotherfucking.website/") https://thebestmotherfucking.website/] this website would be so motherfucking awesome as it is.

        script(src="js/main.fucking.js")
            include tracking.html
