@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

@fa_path: "../../node_modules/font-awesome/less";
@import "@{fa_path}/variables.less";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";
@import "@{fa_path}/list.less";
@import "@{fa_path}/stacked.less";

@finaPath: "../fonts/newcicle_fina_macroman/";

@font-face {
  font-family: 'new_ciclefina';
  src: url('@{finaPath}New_Cicle_Fina-webfont.eot');
  src: url('@{finaPath}New_Cicle_Fina-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{finaPath}New_Cicle_Fina-webfont.woff') format('woff'),
  url('@{finaPath}New_Cicle_Fina-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simplifica';
  src: url('../fonts/simplifica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Barlow');

@bodybgColor: #fafafa;
@bodyTextColor: #555;
@linkColor: #941352;//#16a085;
@iconColor: #540B2F;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: @bodybgColor;
}
body{
  font-family: "simplifica", "Raleway", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @bodyTextColor;
  font-size: 16px;
  margin: 2rem auto;

  max-width: 50em;
  min-width: 500px;

  padding: 1rem;
  line-height: 1.4;
  text-align: justify;
}

h1 {
  padding-left: 0.2rem;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

h2 {
  padding-top: 1%;
  font-size: 2rem;
  text-align: left;
}

p {
  font-size: 1.75rem;
  /*i {
    color: @linkColor;
  }*/
}

#contacts {
  text-align: center;
  margin-bottom: 1rem;

  li {
    font-size: 1.2em;
    list-style-type: none;
    display: inline-block;
  }
  a {
    color: @bodyTextColor;
    text-decoration: none;

    &:hover {
      color:#941352;
    }
  }
}

div.img {
  float: left;
  width: 32%;
  margin-right: 3%;
  margin-top: 1.5%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1000px) {
  #contacts {
    li {
      font-size: 30px;
    }
  }
}


@media screen and (max-width: 500px) {

  body{
    min-width: 15rem;
  }

  h1 {
    margin-top: 0.2rem;
  }

  h1, h2 {
    //text-align: justify;
  }

  div.img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 60%;
  }

  p {
    padding-left: 1vw;
    padding-right: 1vw;
    clear: both;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 0;
  }

  h2 {
    font-size: 2rem;
  }

  #contacts {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;

    li{
      font-size: 1.4rem;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
