@fa_path: "../../node_modules/font-awesome/less";
@import "@{fa_path}/variables.less";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";
@import "@{fa_path}/list.less";
@import "@{fa_path}/stacked.less";

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'simplifica';
  src: url('../fonts/simplifica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@bodybgColor: #fafafa;
@bodyTextColor: #555;
@linkHoverColor: #941352;
@linkColor: #07a;
@iconColor: #540B2F;

html {
  background-color: @bodybgColor;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @bodyTextColor;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}


article {
  align-items: center;
  //justify-content: center;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: 41.2%;
  padding-right: 2rem;
  padding-left: 2rem;

  section{
    display: flex;
    min-width: 500px;
    width: 100%;
    max-width: 35em;
  }

  &#a1 {
    top: 0;
    height: 100%;
    font-family: "simplifica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    h1 {
      font-size: 5rem;
      text-align: left;
      font-weight: bold;
      line-height: 1;
      text-shadow: 1px 1px 1px @bodyTextColor;
    }

    h2 {
      padding-left: 1.0rem;
      font-weight: normal;
      font-size: 2.25rem;

      span {
        font-weight: bold;
      }
    }
  }

  &#a2 {
    top: 150%;
    height: 100%;

    #contacts {
      text-align: left;
      margin-bottom: 1rem;
      max-width: 27vw;

      li {
        font-size: 3vw;
        list-style-type: none;
        display: inline-block;
        a {
          text-shadow: 2px 2px 3px @bodyTextColor;
        }
      }
    }
  }

  &#a3 {
    top: 250%;
    height: 100%;
  }

  &#a4 {
    top: 350%;
    height: 100%;
  }

  &#a5 {
    top: 450%;
    height: 100%;
  }

  &#a6 {
    top: 550%;
    height: 100%;
  }

  &#a7 {
    top: 650%;
    height: 100%;
  }

  &#a8 {
    top: 750%;
    height: 100%;
  }

  &#a9 {
    top: 850%;
    height: 100%;
  }
}

/**
ideas: die ganz bleibt links fix!
Seite 1: Julius
Gonsior
> Software Engineer 
> Data Scientist
> Orienteerer

Seite 2: in einer netten Anordnung (kreis 3x4?) die icons (in größer und als Kreise probieren?)
Seite 3: beg your pardon, what is a gaenseri.ch?
Seite 4: GitHub Projekte kurz erklären etc. (Angry Programmers, Photok, WikiData SPARQL Query Logs, )
Seite 5: Link zu LDR Soundcloud?
Seite 6: Foto von mir :) -> oder das schon eher?


rechts oben dann, aber erst nach dem runter scrollen einblenden, eine ausklappbare Menüleiste anzeigen
 */

.background {
  z-index: 11;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  width: 37.2%;
  height: 40%;
  max-height: 30rem;

  background: url("../img/goose2t.png") no-repeat right;
  background-size: contain;

  .layer {
    display: none;
    background: rgba(250,250,250,0.90);
    width: 100%;
    height: 100%;
  }
}

#bar {
  width: 39.2%;
  height: 110%;
  background: @bodyTextColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 10px -5px 5px @bodyTextColor;
}

::-moz-selection {
  color: @linkColor;
}

::selection {
  color: @linkColor;
}

h2 {
  font-size: 2rem;
  text-align: left;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #777;
}

p {
  word-wrap: break-word;
  font-size: 1.5rem;
}

a.fa-stack {
  color: @bodyTextColor;
  text-decoration: none;

  &:hover {
    color: @linkHoverColor;
  }
}

a {
  color: @linkColor;
  text-decoration: none;

  &:hover {
    color: @linkHoverColor;
  } 
}

h2 a.fa {
  color: @bodyTextColor;
  text-decoration: none;

  &:hover {
    color: @linkHoverColor;
  }
}

@media screen and (min-width: 1000px) {
  #contacts {
    max-width: 269.717px !important;
  }
  #contacts {
    li {
      font-size: 29.97px !important;
    }
  }
}

/*@media screen and (max-height: 510px) {
body {
  padding: 1rem;
  display: block;
}
article {
  margin-left: auto;
  margin-right: auto;
}
}

/*@media  screen and (max-width: 700px) {
body {
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  display: block;
}
#background {
  display: none;
}
#content {
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  clear: both;
}
article {
  min-width: auto;
}
#contacts {
  li {
    font-size: 3.5vw;
  }
}
}

/*@media screen and (max-width: 500px) {
#content{
  min-width: 13rem;
}

article {
  min-width: auto;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.9rem;
  line-height: 1;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
}

#contacts {
  max-width: 13rem;

  li{
    font-size: 1.08rem;
  }
}
}*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
